


<div class="game-container">

<div class="play-area">
  <div class="black-graveyard" *ngIf="playerColor == AllianceEnum.BLACK">
    <div class="captured-piece" *ngFor="let piece of blackGraveyard; let i = index">
      <div class="piece-image" 
        [style.background-color]="piece.isMysterious ? 'gray' : 'none'" 
        [style.border-radius]="'75%'"
        (click)="piece.isRevealed = (!piece.isRevealed || !piece.isMysterious) && this.playerColor !== piece.alliance"
      >
        <img [src]="piece.image"
          [class.hidden]="!piece.isRevealed && piece.isMysterious"
          
        >
      </div>
    </div>
  </div>
  <div class="white-graveyard"  *ngIf="playerColor == AllianceEnum.WHITE">
    <div class="captured-piece" *ngFor="let piece of whiteGraveyard; let i = index">
     <div class="piece-image" 
      [style.background-color]="piece.isMysterious ? 'gray' : 'none'" 
      [style.border-radius]="'75%'"
      (click)="piece.isRevealed = (!piece.isRevealed || !piece.isMysterious) && this.playerColor !== piece.alliance"
     >
      <img [src]="piece.image"
        [class.hidden]="!piece.isRevealed && piece.isMysterious"
      >
     </div>
    </div>
</div>
  <div class="gameboard" cdkDropListGroup [ngClass]="this.playerColor == 1 ? 'white-view' : 'black-view'">
    <div class="gameboard-row" *ngFor="let row of tiles; let i = index" (cdkDropListDropped)="drop($any($event))" [ngClass]="this.playerColor == 1 ? 'white-view' : 'black-view'">
      <div 
         class="gameboard-tile" 
        *ngFor="let tile of row; let j = index" 
        [style.background-color]="this.threatTiles[i][j] ? (this.highlightedTiles[i][j] ? 'DeepPink': 'HotPink') : (this.highlightedTiles[i][j] ? tile.highlightedColor : tile.color)"
         cdkDropList (cdkDropListDropped)="drop($any($event))" [cdkDropListData]="{x: i, y:j}"
         [class.last-move]="(lastMoveCoordinates?.target.x == i && lastMoveCoordinates?.target.y == j) || (lastMoveCoordinates?.origin.x == i && lastMoveCoordinates?.origin.y == j)"
      >
        <!-- {{ i }}, {{ j }} -->
        <div class="piece"
          *ngIf="tile.piece"
          cdkDrag [cdkDragData]="{x: i, y: j, piece: tile.piece}"
          [cdkDragDisabled]="(tile.piece.alliance != currentTurn) || (playerColor != currentTurn) || isSpectator"
          (cdkDragStarted)="drag($any($event))" 
          [class.mysterious]="tile.piece.isMysterious"
        >
          <img [src]="tile.piece.image" height="100%">
        </div>
      </div>
    </div>
  </div>

  <div class="black-graveyard" *ngIf="playerColor == AllianceEnum.WHITE">
    <div class="captured-piece" *ngFor="let piece of blackGraveyard; let i = index">
      <div class="piece-image" 
        [style.background-color]="piece.isMysterious ? 'gray' : 'none'" 
        [style.border-radius]="'75%'"
        (click)="piece.isRevealed = (!piece.isRevealed || !piece.isMysterious) && this.playerColor !== piece.alliance"
      >
        <img [src]="piece.image"
          [class.hidden]="!piece.isRevealed && piece.isMysterious"
          
        >
      </div>
    </div>
  </div>
    <div class="white-graveyard"  *ngIf="playerColor == AllianceEnum.BLACK">
      <div class="captured-piece" *ngFor="let piece of whiteGraveyard; let i = index">
       <div class="piece-image" 
        [style.background-color]="piece.isMysterious ? 'gray' : 'none'" 
        [style.border-radius]="'75%'"
        (click)="piece.isRevealed = (!piece.isRevealed || !piece.isMysterious) && this.playerColor !== piece.alliance"
       >
        <img [src]="piece.image"
          [class.hidden]="!piece.isRevealed && piece.isMysterious"
        >
       </div>
      </div>
  </div>
</div>

<!-- <div class="gameboard" cdkDropListGroup [ngClass]="this.playerColor == 1 ? 'white-view' : 'black-view'">
<div class="gameboard-row" *ngFor="let row of tiles; let i = index" (cdkDropListDropped)="drop($any($event))" [ngClass]="this.playerColor == 1 ? 'white-view' : 'black-view'">
  <div 
     class="gameboard-tile" 
    *ngFor="let tile of row; let j = index" 
    [style.background-color]="this.threatTiles[i][j] ? (this.highlightedTiles[i][j] ? 'DeepPink': 'HotPink') : (this.highlightedTiles[i][j] ? tile.highlightedColor : tile.color)"
     cdkDropList (cdkDropListDropped)="drop($any($event))" [cdkDropListData]="{x: i, y:j}"
  >
  <div class="piece"
	  *ngIf="tile.piece"
	  cdkDrag [cdkDragData]="{x: i, y: j, piece: tile.piece}"
	  [cdkDragDisabled]="(tile.piece.alliance != currentTurn) || (playerColor != currentTurn) || isSpectator"
	  (cdkDragStarted)="drag($any($event))" 
    [class.mysterious]="tile.piece.isMysterious"
	  >
      <img [src]="tile.piece.image" height="100%">
    </div>
  </div>
</div>
</div> -->

  <div class="sideboard" [ngClass]="this.playerColor == 1 ? 'white-view' : 'black-view'">
    <!-- <div class="black-graveyard">
      <div class="captured-piece" *ngFor="let piece of blackGraveyard; let i = index">
        <div class="piece-image" 
          [style.background-color]="piece.isMysterious ? 'gray' : 'none'" 
          [style.border-radius]="'75%'"
          (click)="piece.isRevealed = (!piece.isRevealed || !piece.isMysterious) && this.playerColor !== piece.alliance"
        >
          <img [src]="piece.image"
            [class.hidden]="!piece.isRevealed && piece.isMysterious"
            
          >
        </div>
      </div>
    </div> -->

    <div class="game-info">
      <div class="player-info">
        <div *ngIf="!isSpectator">Your color: {{ playerColor ? 'White' : 'Black'}}</div>
        <div>Current turn: {{ currentTurn ? 'White' : 'Black' }}</div>
      </div>
      <div style="display: flex;padding: 15px; justify-content: space-around; ">
        <button type="button" (click)="refresh()">Restart game</button>
        <button type="button" (click)="undo()" *ngIf="playerColor != currentTurn">Undo</button>
        <button type="button" (click)="getBotMove()" *ngIf="false && !engageBot">bot move</button>
      </div>
      <p *ngIf="message">{{message}}</p>
      <app-chat #chat [username]="this.isSpectator ? ('Spectator ' + spectatorNumber) : (this.playerColor == 1 ? 'Player 1' : 'Player 2')" [socket]="socket"></app-chat>
    </div>

    <!-- <div class="white-graveyard">
      <div class="captured-piece" *ngFor="let piece of whiteGraveyard; let i = index">
       <div class="piece-image" 
        [style.background-color]="piece.isMysterious ? 'gray' : 'none'" 
        [style.border-radius]="'75%'"
        (click)="piece.isRevealed = (!piece.isRevealed || !piece.isMysterious) && this.playerColor !== piece.alliance"
       >
        <img [src]="piece.image"
          [class.hidden]="!piece.isRevealed && piece.isMysterious"
        >
       </div>
      </div>
  </div> -->
</div>

</div>
